:root {
    --higlight-color: #FEDE68;
    --color-white: #fff;
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 5em;
    gap: 2px;

    & .lottie-shopping-animation {
        width: 10%;
        position: absolute;
        top: 24%;
        right: 20%;
    }

    & .lottie-arrow-animation {
        width: 12%;
        position: absolute;
        top: 43%;
        left: 60%;
        transform: rotateZ(-10deg)
    }
}

.hero-typography {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    padding: 4em;
    gap: 2.5em;
    padding-bottom: 0;

    & h1 {
        font-size: 3.5em;
        text-align: center;
    }

    & .btn {
        padding: 10px 25px;
        border: 1px solid#000;
        background: #000;
        color: #fff;
        font-size: 1.1em;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.hero-image {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.product-header {
    width: 100%;

    & h1 {
        text-align: start;
        font-size: 3em;
        letter-spacing: 2px;
        font-weight: 200;
    }

    & div {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & span {
            font-size: 1.3em;
        }
    }
}

.our-best-seller {
    width: 100%;
    min-height: 60vh;
    padding: 4em 8em 4em 8em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}


.our-services {
    width: 100%;
    min-height: 60vh;
    padding: 4em 8em 8em 8em;
    display: flex;
    flex-direction: column;
    gap: 5em;

    & h1 {
        text-align: start;
        text-align: start;
        font-size: 3em;
        letter-spacing: 2px;
        font-weight: 200;
    }

    & .services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 380px);
        grid-auto-rows: minmax(250px, 250px);
        gap: 5em;

        & .shipping {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1em;
            justify-content: center;
            padding: 2em;
            border-radius: 8px;
            background: #fff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

            & .shipping-icon {
                font-size: 50px;
                color: #60875A;

            }

            & h1 {
                font-size: 24px;
                color: #60875A;
            }

            & p {
                flex-wrap: wrap;
                font-size: 12px;
            }
        }

        & .payment {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1em;
            justify-content: center;
            padding: 2em;
            border-radius: 8px;
            background: #fff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

            & .payment-icon {
                font-size: 50px;
                color: #60875A;
            }

            & h1 {
                font-size: 24px;
                color: #60875A;
            }

            & p {
                flex-wrap: wrap;
                font-size: 12px;

            }
        }

        & .help {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1em;
            justify-content: center;
            padding: 2em;
            border-radius: 8px;
            background: #fff;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

            & .help-icon {
                font-size: 50px;
                color: #60875A;
            }

            & h1 {
                font-size: 24px;
                color: #60875A;
            }

            & p {
                flex-wrap: wrap;
                font-size: 12px;
            }
        }
    }
}

.our-customers {
    position: relative;
    width: 100%;
    min-height: 60vh;
    padding: 1em 8em 4em 8em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
    gap: 5em;
    background: #4aca4a;


    & h1 {
        text-align: start !important;
        font-size: 3em;
        letter-spacing: 2px;
        font-weight: 200;
    }

    & .customers {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0em 13em;

        & .sub-customers {
            display: flex;
            align-items: flex-start;
            justify-content: center;

            & .testimonials {
                overflow: hidden;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 4em;
            }

            & .left-quote-icon {
                font-size: 4em;
                color: #9cf69c;
                transform: rotateZ(180deg);
            }

            & .right-quote-icon {
                font-size: 4em;
                color: #9cf69c;
                transform: rotateZ(180deg);
                transform: rotateX(180deg);
            }
        }


        & .slide-btn {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            & .slide-icon {
                color: #fff;
                font-size: .8em;
                cursor: pointer;
                transition: color 1s ease-in;


            }
        }
    }
}

.faq {
    width: 100%;
    min-height: 60vh;
    padding: 4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    margin-bottom: 5em;
    background: #f7f0e6;

    & .faq-head {
        width: 350px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;

        & h1 {
            font-size: 35px;
            font-weight: bold;
        }
    }

    & .faq-body {
        width: 600px;

        & .accordion-title {
            & :focus {
                background: #9cf69c;
            }
        }
    }
}

.call-to-action {
    width: 100%;
    height: 60vh;
    padding: 4em 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    & .call-to-action-head {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 4em;

        & .call-to-action-title {
            display: flex;
            flex-direction: column;
            gap: 10px;


            & span {
                color: #c1c1c1;
            }

        }

        & button {
            padding: 15px 40px;
            background: #4aca4a;
            color: #fff;
            border: 1px solid #4aca4a;
            font-size: 1em;
            cursor: pointer;
        }
    }

    & .call-to-action-body {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        & .call-to-action-image {
            width: 100%;
            height: 100%;
        }
    }
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}

.skeleton-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}