.main-login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-page {
    width: 800px;
    height: 600px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-container {
    width: 50%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background: #1F93FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1em;
    padding: 2em;
}

.login-form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}


.forget-password {
    width: 100%;
    font-size: 10px;
    color: #fff;
    text-align: end;
}

.to-signup {
    width: 100%;
    color: #fff;
    font-size: 13px;

    & .to-register {
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

}

.email-box,
.pass-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email-box input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.email-box input::placeholder {
    font-size: 14px;
}

.email-box label,
.pass-box label {
    font-size: 15px;
}

.pass-box input {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.pass-box input::placeholder {
    font-size: 13px;
}

.login-img {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.login-img img {
    width: 100%;
    height: 100%;

}


.btn-login {
    width: 100%;
    position: relative;
    padding: 10px 25px;
    color: #1F93FA;
    background: #F6F9FF;
    cursor: pointer;
    border: 1px solid #F6F9FF;
    font-size: 1em;
    z-index: 1;
}

.btn-login::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    background: #1F93FA;
    z-index: -1;
}

.btn-login:hover::before {
    transform: scaleX(1);
}

.btn-login:hover {
    color: #fff;
}



.google-login {
    background: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.google-login img {
    width: 10%;
}

@media (max-width: 600px) {
    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-img {
        display: none;
    }
}